image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/edbizarro/gitlab-ci-pipeline-php:latest

services:
  - mysql:latest

variables:
  MYSQL_ROOT_PASSWORD: root
  MYSQL_USER: taskord
  MYSQL_PASSWORD: taskord
  MYSQL_DATABASE: taskord
  DB_HOST: mysql

stages:
  - test
  - deploy
  - clean

cache:
  paths:
    - vendor/
    - node_modules/

before_script:
  - sudo composer self-update --2
  - sudo composer install --no-progress --ignore-platform-reqs
  - cp .env.example .env
  - php artisan key:generate
  - sudo npm i -g yarn
  - sudo yarn install
  - sudo yarn production
  - php artisan horizon:install
  - php artisan horizon:publish
  - php artisan migrate:fresh --seed

Test:
  stage: test
  script:
    - php artisan test

Insights:
  stage: test
  script:
    - php artisan insights -v

Validate GraphQL:
  stage: test
  script:
    - php artisan lighthouse:validate-schema

Staging:
  stage: deploy
  script:
    - cat $PRIVATE_KEY > taskord.pem
    - chmod 400 taskord.pem
    - ssh -o StrictHostKeyChecking=no -i "taskord.pem" ubuntu@stg-deploy.taskord.com 'cd /var/www/taskord; ./script/deploy-staging.sh'
  only:
    - main

Housekeeping:
  stage: clean
  script:
    - curl --request POST --header "PRIVATE-TOKEN:$ACCESS_TOKEN" https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/housekeeping
  only:
    - main

Merged Branches:
  stage: clean
  script:
    - curl --request DELETE --header "PRIVATE-TOKEN:$ACCESS_TOKEN" https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/repository/merged_branches
  only:
    - main
