

.btn-primary {
  color: white;
  background-color: $primary;

  &:hover,
  &:active,
  &:focus {
    background-color: #6f68ee;
  }
}

.btn-danger {
  color: white;

  &:hover,
  &:focus,
  &:disabled {
    color: white;
  }
}

.btn-blurple {
  color: white;
  background-color: #7289da;

  &:hover,
  &:active,
  &:focus {
    background-color: #657ac3;
    color: white;
  }
}

.btn-outline-danger,
.btn-outline-success,
.btn-outline-primary,
.btn-outline-info {
  &:hover,
  &:active {
    color: white;

    & > [class*='text-'] {
      color: inherit !important;
    }
  }
}

.btn-task {
  font-size: 12px;
  padding: 1px 8px;
  box-shadow: none !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: rgb(110 100 255 / 25%);
  color: #6a63ec;
}
