.card {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    
    .list-group:last-child {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
}

.btn {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
