.input-group-append .btn {
  // Prevents button borders diverging, looking odd in UI
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-prepend .btn {
  // Prevents button borders diverging, looking odd in UI
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newTaskModal {
  form {
    .form-control::placeholder {
      color: #6c757d;
      opacity: 1;
    }
  }
}
